@using Model.Domain.ControlDeCalzado

@{
    ViewBag.Title = "Semaforo";
    Layout = null;
}

<h2>Semaforo</h2>

<div>
    <h2>
        Cantidad Actual: <span id="cantidad">@Model</span>
    </h2>
</div>

<body>
    <div class="container">
        <div class="semaforo">
            <span id="rojo" class="luces-circulo "></span>
            <span id="amarillo" class="luces-circulo" ></span>
            <span id="verde" class="luces-circulo"></span>
        </div>
    </div>
</body>

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        height: 100%;
        min-height: 100vh;
        display: grid;
        place-items: center;
        background-color: aqua;
    }

    .container {
        display: grid;
        place-items: center;
    }

    .semaforo {
        width: 200px;
        height: 400px;
        border-radius: 30px;
        display: grid;
        place-items: center;
        background-color: #2c3e50;
        padding: 10px;
    }

    .luces-circulo {
        display: block;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: rgb(0, 0, 0, 0.3);
        position: relative;
    }

        .luces-circulo::after {
            content: '';
            position: absolute;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            border-right: 4px solid rgb(255, 255, 255, 0.6);
            top: 5%;
        }

    .red {
        background-color: red;
        box-shadow: 0 0 10px 1px red;
    }

    .yellow {
        background-color: yellow;
        box-shadow: 0 0 10px 1px yellow;
    }

    .green {
        background-color: #2ecc71;
        box-shadow: 0 0 10px 1px #2ecc71;
    }
</style>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function updateSemaphor() {
            $.ajax({
                url: '@Url.Action("GetValue", "Alerta")',
                type: 'GET',
                dataType: 'json',
                success: function (result) {

                    if (result.contador == 0 && result.limiteInferior == 0 && result.limiteSuperior == 0) {
                        $('#verde').removeClass('green');
                        $('#amarillo').removeClass('yellow');
                        $('#rojo').removeClass('red');
                    } else if (result.contador > 0) {
                        $('#amarillo').removeClass('yellow');
                        $('#rojo').removeClass('red');
                        $('#verde').addClass('green');
                    } else if (result.contador >= result.limiteInferior) {
                        $('#rojo').removeClass('red');
                        $('#verde').removeClass('green');
                        $('#amarillo').addClass('yellow');
                    } else {
                        $('#amarillo').removeClass('yellow');
                        $('#verde').removeClass('green');
                        $('#rojo').addClass('red');
                    }
                }
            });
        }

        $(function () {
            updateSemaphor();
            setInterval(updateSemaphor, 5000);
        });
    </script>
}